USE MERCADO_01

CREATE TABLE TBL_VENDA_DETALHADA(
  VEN_DET_ID INT NOT NULL IDENTITY(1,1),
  VEN_ID INT,
  VEN_DET_STATUS VARCHAR(15),
  VEN_DET_VALOR_PAGO DECIMAL(10,2)
  )


--FOREIGN KEY
ALTER TABLE TBL_VENDA_DETALHADA ADD CONSTRAINT FK_VEN_DETALHADA_ID FOREIGN KEY (VEN_ID) REFERENCES TBL_VENDA


SELECT * FROM TBL_VENDA_DETALHADA